.gmail_signature(data-smartmail='gmail_signature')
div(dir='ltr')
	div
		div(dir='ltr')
			table(width='570')
				tbody
					tr
						td(width='126')
							img(src="https://s3-eu-west-1.amazonaws.com/homeselect/firmas/#{photo}")
						td
							table(style='font-family:Arial;font-size:10pt;color:#333')
								tbody
									tr
										td(style='height:28px')
											strong #{name}
											|  | #{job}
									tr
										td(style='height:35px')
											| Calle Hermosilla, 21
											br
											| 28001 Madrid, Spain
									tr
										td(style='height:35px')
											| +34 915 237 451
											br
											a(href='http://www.homeselect.com', style='font-family:Arial;font-size:10pt;color:#333;font-weight:bold;text-decoration:none', target='_blank') homeselect.com
									tr
										td(style='height:28px')
											a(href='http://www.facebook.com/homeselect', style='color:#333;text-decoration:none', target='_blank') Facebook
											|  
											a(href='http://www.linkedin.com/company/home-select', style='color:#333;text-decoration:none', target='_blank') LinkedIn
											|  
											a(href='http://www.instagram.com/homeselect', style='color:#333;text-decoration:none', target='_blank') Instagram
											|  
											a(href='https://www.homeselect.com/es/tendencias/select-blog', style='color:#333;text-decoration:none', target='_blank') Blog
											|  