extends layouts/layout

block content
    h1= "Crear Firma"
    form(name="create-firma", method="post", action="/create", target="_blank")
        div.input
          span.label Name
            input(type="text", name="name")
        div.input
          span.label Job
            input(type="text", name="job")
        div.input
          span.label Telephone
            input(type="text", name="phone")
        div.input
          span.label Photo
            input(type="text", name="photo")
        div.actions
            input.submit(type="submit", value="create")
