extends layouts/layout

block content
    h1= "Crear Firma"
    form(name="create-firma", method="post", action="/show", target="_blank")
        div.input
          span.label First Name
            input(type="text", name="first_name")
        div.input
          span.label Last Name(s)
            input(type="text", name="last_name")
        div.input
          span.label Position
            input(type="text", name="position")
        div.input
          span.label Telephone
            input(type="text", name="phone")
        div.input
            select(id="company", name="company")
                option(value='homeselect') Home Select
                option(value='homeclub') Home Club
        div.actions
            input.submit(type="submit", value="create")
